# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Packer
packer/packer_cache/

# OS
.DS_Store

# Secrets - never commit these
*.pem
*.csv
